{% extends 'base.html.twig' %}

{% block title %}Задачи{% endblock %}

{% block body %}

    <h2>Задачи</h2>

    {% for task in tasks %}
        <h4><a href="{{ task.url }}" target="_blank">{{ task.title }}</a> {{ task.status }}</h4>
    {% endfor %}

{% endblock %}
